<div id="about" class="container-fluid">
        <section class="row">
          <!-- <div id = "second" class="box">
           <h2>About Streetfoods and Kakanin:</h2>
          </div> -->

        <!-- end box -->
          
           <!-- end of 3rd card -->
        </section>
      </div> 
      <!-- end of about us-->